manifest {
    name = 'workflow'
    author = 'Fulcrum Genomics'
    description = 'Workflow description'
    version = '1.0.0'
    nextflowVersion = '>=22.04.0' // DSL2 is the default starting here
}

plugins {
    id 'nf-schema@2.0.0'
}

//validation settings
validation.failUnrecognisedParams = true

params {
    // print help message and exit
    help = false
    input = "/Users/erin/git/nf-test_repro/tests/data/sample_sheet .tsv"
    output_dir = null

}
