/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

//parameters
params {
    // print help message and exit
    help = false

    // required workflow inputs
    input = "/Users/erin/git/fg/detect-seq-nf/tests/data/sample_sheet.tsv"
}